@model eShift.Models.TransportAssignment

@{
    ViewData["Title"] = "Transport Assignment Details";
}

<h2>Transport Assignment Details</h2>

<div>
    <h4>Transport Assignment</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Transport ID</dt>
        <dd class="col-sm-10">@Model.TransportId</dd>

        <dt class="col-sm-2">Job</dt>
        <dd class="col-sm-10">Job @Model.Job?.JobId: @Model.Job?.PickupLocation to @Model.Job?.DeliveryLocation</dd>

        <dt class="col-sm-2">Driver</dt>
        <dd class="col-sm-10">@Model.Driver?.DriverName</dd>

        <dt class="col-sm-2">Assistant</dt>
        <dd class="col-sm-10">@Model.Assistant?.AssistantName</dd>

        <dt class="col-sm-2">Vehicle</dt>
        <dd class="col-sm-10">@Model.Vehicle?.VehicleModel (@Model.Vehicle?.VehicleLicensenum)</dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.TransportId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>